<br>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="well-block">
        <div class="well-title">


          <div class="card">
            <div class="card-header" style="text-align: center"><h3>Créer votre profil utilisateur :</h3></div>
          </div>

            <form #f="ngForm" [formGroup]="forms" (ngSubmit)="saveuser()">
              <br>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group"
                       [class.has-success]="forms.get('firstName').valid"
                       [class.has-error]="forms.get('firstName').invalid && forms.get('firstName').touched">
                    <label class="control-label">Prénom:</label>
                    <input class="form-control"
                           type="text"
                           name="firstName"
                           placeholder="Prénom"
                           formControlName="firstName"
                           required minlength="2">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group"
                       [class.has-success]="forms.get('lastName').valid"
                       [class.has-error]="forms.get('lastName').invalid && forms.get('lastName').touched">
                    <label class="control-label">Nom:</label>
                    <input class="form-control input-md"
                           type="text"
                           name="lastName"
                           placeholder="Nom"
                           formControlName="lastName"
                           required
                           minlength="2">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group"
                       [class.has-success]="forms.get('birthDate').valid"
                       [class.has-error]="forms.get('birthDate').invalid && forms.get('birthDate').touched">
                    <label class="control-label">Date de Naissance:</label>
                    <input class="form-control input-md"
                           type="Date"
                           name="Date de Naissance"
                           placeholder="birthDate"
                           formControlName="birthDate"
                           autocapitalize="on"
                           spellcheck="on"
                           required/>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group"
                       [class.has-success]="forms.get('phone').valid"
                       [class.has-error]="forms.get('phone').invalid && forms.get('phone').touched">
                    <label class="control-label">Numéro de téléphone:</label>
                    <input class="form-control input-md"
                           type="phone"
                           name="phone"
                           placeholder="Numéro de téléphone"
                           formControlName="phone"
                           required>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group"
                       [class.has-success]="forms.get('address').valid"
                       [class.has-error]="forms.get('address').invalid && forms.get('address').touched">
                    <label class="control-label">Entrez votre addresse postale :</label>
                    <input class="form-control input-md"
                           type="address"
                           name="address"
                           placeholder="Entrez votre adresse"
                           formControlName="address"
                           minlength="15"
                           required>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group"
                       [class.has-success]="forms.get('email').valid"
                       [class.has-error]="forms.get('email').invalid && forms.get('email').touched">
                    <label for="email" class="control-label">Email:</label>
                    <input required
                           id="email"
                           name="email"
                           type="email"
                           class="form-control"
                           formControlName="email"
                           placeholder="Email">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group"
                       [class.has-success]="forms.get('password').valid"
                       [class.has-error]="forms.get('password').invalid && forms.get('password').touched">
                    <label class="control-label">Mot de passe:</label>
                    <input class="form-control input-md"
                           type="password"
                           name="password"
                           placeholder="Mot de passe"
                           formControlName="password"
                           minlength="6"
                           required>
                  </div>
                </div>


              </div>
              <br>
              <div class="col-md-12" align="right">
                <div class="form-group">
                  <button
                    type="submit"
                    class="btn btn-primary" [disabled]="forms.invalid">Valider
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>



