<header>
  <div class="card-img-top" >
    <img src="../assets/img/bibliothèque.jpg" class="card-img-top" alt="Responsive image">
  </div>

  <nav class="navbar navbar-expand-lg bg-light navbar-info">
  <div class="container">
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="update-user">update-user</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="my-profil">Mon Profil</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="search">Rechercher</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="contacts">Nos librairies</a></li>
    </ul>

    <ul class="navbar-nav ml-auto" >
      <li class="identification" *ngIf="this.token.getEmail() == null">
        <a class="nav-link"  routerLink="Login">S'identifier</a>
      </li>

      <li class="inscription" *ngIf="this.token.getEmail() == null">
        <a class="nav-link"  routerLink="create-user">S'inscrire</a>
      </li>

      <li class="deconnexion" *ngIf="this.token.getEmail() != null">
        <a class="nav-link" routerLink="/" (click)="logout()">Se déconnecter</a>
      </li>
    </ul>
  </div>
</nav>
</header>
<router-outlet></router-outlet>
